@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poetsen+One&family=Sedan+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}
.nav-heading {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.step-names {
  margin: 20px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 15px;
}
.step-names:hover {
  border: 2px solid white;
  color: white;
  background-color: black;
  cursor: pointer;
}
.workflow-heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(101, 99, 99);
  font-weight: 800;
  text-decoration: wavy;
}
@media only screen and (max-width: 600px) {
  .return-button {
    margin: 20px;
  }
}
